<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AuthorityDao">
	
	<insert id="insertUserAuthorities" parameterType="string">
		INSERT 
			INTO authorities(member_id, authority_name)
			VALUES (#{member_id},'ROLE_USER')
	</insert>

	<delete id="deleteUserAuthorities" parameterType="string">
		DELETE FROM authorities
			WHERE member_id = #{member_id}
	</delete>

	<select id="selectUserAuthorities" parameterType="string" resultType="string">
		SELECT authority_name 
		  FROM authorities
		 WHERE member_id = #{member_id}
	</select>
	
	
</mapper>





















