/* body{ */
/*      width: 700px; */
/*      margin: 0; */
/*      font-size: 30px; */
/*      font-weight: bold; */
/*      font-family: arial; */
/*      text-align: center; */
/*     } */

.typed {
    color: #fff;
    font-size: 3em;
    font-family: 'Parisienne', cursive;
}
